<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Crypto Graphs </title>
</head>
<body>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gpu/style.css' %}">

    <!-- Side navigation -->
    <div class="sidenav">
        <h1> <a href="{% url 'gpu:home_view' %}"> CheapPC.com </a> </h1>
      <h2> Current Crypto Prices </h2>
        <h4> BTC: ${{ btc_price }} USD </h4>
        <h4> ETH: ${{ eth_price }} USD </h4>
        <h4> LTC: ${{ ltc_price }} USD </h4>
        <a href="{% url 'gpu:graphs' %}"> See prices over last week </a>
    </div>

    {% autoescape off %}
    {{ price_graph }}
    {% endautoescape %}


     <a href="javascript:window.history.back();" class="btn btn-primary">Go back</a>

</body>
</html>